In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/act_train.csv')

dfy = pd.DataFrame(df, columns=['outcome'])
dfX = df.drop('outcome', axis=1)

df = pd.concat([dfX, dfy], axis=1)

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

In [79]:
df.tail(4)

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
2197287,ppl_99994,act2_4743548,2023-03-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1832,1
2197288,ppl_99994,act2_536973,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197289,ppl_99994,act2_688656,2023-05-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 199,1
2197290,ppl_99994,act2_715089,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1

In [ ]:
df['activity_category'].value_counts()

In [ ]:
# df_type1 = df[df['activity_category']=='type 1'][['people_id', 'activity_id', 'date', 'activity_category', 'char_1', 'char_2', 
#                                                   'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'outcome']].copy()

In [ ]:
# df_type2 = df[df['activity_category']=='type 2'][['people_id', 'activity_id', 'date', 'char_10', 'outcome']].copy()
# df_type3 = df[df['activity_category']=='type 3'][['people_id', 'activity_id', 'date', 'char_10', 'outcome']].copy()
# df_type4 = df[df['activity_category']=='type 4'][['people_id', 'activity_id', 'date', 'char_10', 'outcome']].copy()
# df_type5 = df[df['activity_category']=='type 5'][['people_id', 'activity_id', 'date', 'char_10', 'outcome']].copy()
# df_type6 = df[df['activity_category']=='type 6'][['people_id', 'activity_id', 'date', 'char_10', 'outcome']].copy()
# df_type7 = df[df['activity_category']=='type 7'][['people_id', 'activity_id', 'date', 'char_10', 'outcome']].copy()

In [ ]:
df_act1 = df[df.activity_id.str.contains('^act1')].copy()
df_act2 = df[df.activity_id.str.contains('^act2')].copy()

In [ ]:
df_act1_type1 = df_act1[df_act1['activity_category']=='type 1'][['people_id', 'activity_id', 'date', 'activity_category', 'char_1', 
                                                                 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 
                                                                 'char_9', 'outcome']].copy()

In [ ]:
df_act2_type1 = df_act2[df_act2['activity_category']=='type 1'][['people_id', 'activity_id', 'date', 'activity_category', 'char_1', 
                                                                 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 
                                                                 'char_9', 'outcome']].copy()

In [ ]:
df_act1_type1.tail() #activity_category : type 1

In [ ]:
df_act2_type2 = df_act2[df_act2['activity_category']=='type 2'][['people_id', 'activity_id', 'date', 'activity_category', 'char_10', 'outcome']].copy()
df_act2_type3 = df_act2[df_act2['activity_category']=='type 3'][['people_id', 'activity_id', 'date', 'activity_category', 'char_10', 'outcome']].copy()
df_act2_type4 = df_act2[df_act2['activity_category']=='type 4'][['people_id', 'activity_id', 'date', 'activity_category', 'char_10', 'outcome']].copy()
df_act2_type5 = df_act2[df_act2['activity_category']=='type 5'][['people_id', 'activity_id', 'date', 'activity_category', 'char_10', 'outcome']].copy()
df_act2_type6 = df_act2[df_act2['activity_category']=='type 6'][['people_id', 'activity_id', 'date', 'activity_category', 'char_10', 'outcome']].copy()
df_act2_type7 = df_act2[df_act2['activity_category']=='type 7'][['people_id', 'activity_id', 'date', 'activity_category', 'char_10', 'outcome']].copy()

In [ ]:
df_act2_type1 # 없음

In [ ]:
df_act2_type2['char_10'].value_counts()

In [ ]:
df_act2_type2.head() #type 1    904683

In [ ]:
df_act2_type3['char_10'].value_counts() # 450

In [ ]:
df_act2_type3.tail()

In [ ]:
df_act2_type4['char_10'].value_counts() # 3315

In [ ]:
df_act2_type5['char_10'].value_counts() # 2747

In [ ]:
df_act2_type6['char_10'].value_counts() # type 110    4253

In [ ]:
df_act2_type6.tail()

In [ ]:
df_act2_type7['char_10'].value_counts() # type 194    3157

In [ ]:
df_people = pd.read_csv('./data/people.csv')

In [ ]:
df_people.head()

In [ ]:
df_merge = pd.merge(df, df_people, how='inner', on='people_id')

In [ ]:
df_merge.head()

In [ ]:
df_merge[['people_id', 'date_x', 'date_y']].head()

In [ ]:
df_merge['char_38'].value_counts().head()

In [ ]:
import seaborn as sns

In [ ]:
import matplotlib.pylab as plt
plt.scatter(df_merge['char_38'],df_merge['outcome'],alpha=0.1)
plt.show()

In [ ]:
# df_test = df_merge[['people_id', 'outcome', 'char_38']].drop_duplicates() 쓰면 안된!!!

# feature corr

In [2]:
df_num = df.copy()

In [ ]:
df_num.activity_category.str.contains('4')

In [75]:
df_num123 = df.copy()

In [76]:
df_num123.activity_category[df_num123.activity_category.str.contains('4')] = 4

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df['{}'.format(feat)][df['{}'.format(feat)].str.contains('{}'.format(i))] = i

In [ ]:
df123 = df.copy()

In [78]:
df_num[df_num.activity_category.str.contains('4')]['activity_category'] = 4

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [67]:
df_num['activity_category'] = 4

In [54]:
def leplace_col(df, feat_list):
    for feat in feat_list:
        type_list = df_num123['{}'.format(feat)].unique()
        for i in range(len(type_list)+1):
            df[df['{}'.format(feat)].str.contains('{}'.format(i))]['{}'.format(feat)] = i
    return df