# data load & 전처리

In [5]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

In [1]:
df_train = pd.read_csv('./data/act_train.csv', parse_dates=['date'])
df_people = pd.read_csv('./data/people.csv', parse_dates=['date'])
df_merge = pd.merge(df_train, df_people, how='inner', on='people_id')

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 50)

In [2]:
df_date_x = df_merge['date_x'].copy()
df_date_y = df_merge['date_y'].copy()

df_merge.drop(['date_x', 'date_y'], axis=1, inplace=True)

In [3]:
df_merge = df_merge.replace('type ', '', regex=True).apply(pd.to_numeric, errors='ignore')

In [4]:
df_merge.insert(loc=2 ,column='date_x', value=df_date_x)
df_merge.insert(loc=18 ,column='date_y', value=df_date_x)

#### test data

In [5]:
# df_test = pd.read_csv('./data/act_test.csv', parse_dates=['date'])
# df_merge_test = pd.merge(df_test, df_people, how='inner', on='people_id')
# df_date_x_test = df_merge['date_x'].copy()
# df_date_y_test = df_merge['date_y'].copy()

# df_merge_test.drop(['date_x', 'date_y'], axis=1, inplace=True)

# df_merge_test = df_merge_test.replace('type ', '', regex=True).apply(pd.to_numeric, errors='ignore')

# df_merge_test.insert(loc=2 ,column='date_x', value=df_date_x_test)
# df_merge_test.insert(loc=18 ,column='date_y', value=df_date_y_test)

In [6]:
del df_train, df_people, df_date_x, df_date_y
# del df_test, df_date_x_test, df_date_y_test

In [7]:
df_merge.dtypes

people_id                    object
activity_id                  object
date_x               datetime64[ns]
activity_category             int64
char_1_x                    float64
char_2_x                    float64
char_3_x                    float64
char_4_x                    float64
char_5_x                    float64
char_6_x                    float64
char_7_x                    float64
char_8_x                    float64
char_9_x                    float64
char_10_x                   float64
outcome                       int64
char_1_y                      int64
group_1                      object
char_2_y                      int64
date_y               datetime64[ns]
char_3_y                      int64
char_4_y                      int64
char_5_y                      int64
char_6_y                      int64
char_7_y                      int64
char_8_y                      int64
                          ...
char_14                        bool
char_15                        bool
char_16                        bool
char_17                        bool
char_18                        bool
char_19                        bool
char_20                        bool
char_21                        bool
char_22                        bool
char_23                        bool
char_24                        bool
char_25                        bool
char_26                        bool
char_27                        bool
char_28                        bool
char_29                        bool
char_30                        bool
char_31                        bool
char_32                        bool
char_33                        bool
char_34                        bool
char_35                        bool
char_36                        bool
char_37                        bool
char_38                       int64
Length: 55, dtype: object

In [24]:
# df_merge.to_csv("train_merge.csv")

In [8]:
df_merge = pd.read_csv('./train_merge.csv', parse_dates=['date_x','date_y'])

In [6]:
df_merge.head()

,Unnamed: 0,people_id,activity_id,date_x,activity_category,char_1_x,char_2_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,char_8_x,char_9_x,char_10_x,outcome,char_1_y,group_1,char_2_y,date_y,char_3_y,char_4_y,char_5_y,char_6_y,char_7_y,char_8_y,char_9_y,char_10_y,char_11,char_12,char_13,char_14,char_15,char_16,char_17,char_18,char_19,char_20,char_21,char_22,char_23,char_24,char_25,char_26,char_27,char_28,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,0,ppl_100,act2_1734928,2023-08-26,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,0,2,group 17304,2,2023-08-26,5,5,5,3,11,2,2,True,False,False,True,True,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False,True,True,False,False,True,True,True,False,36
1,1,ppl_100,act2_2434093,2022-09-27,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,2,group 17304,2,2022-09-27,5,5,5,3,11,2,2,True,False,False,True,True,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False,True,True,False,False,True,True,True,False,36
2,2,ppl_100,act2_3404049,2022-09-27,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,2,group 17304,2,2022-09-27,5,5,5,3,11,2,2,True,False,False,True,True,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False,True,True,False,False,True,True,True,False,36
3,3,ppl_100,act2_3651215,2023-08-04,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,2,group 17304,2,2023-08-04,5,5,5,3,11,2,2,True,False,False,True,True,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False,True,True,False,False,True,True,True,False,36
4,4,ppl_100,act2_4109017,2023-08-26,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0,2,group 17304,2,2023-08-26,5,5,5,3,11,2,2,True,False,False,True,True,False,True,False,False,False,False,True,False,False,False,False,False,True,True,False,True,True,False,False,True,True,True,False,36

In [3]:
df_merge.dtypes

Unnamed: 0                    int64
people_id                    object
activity_id                  object
date_x               datetime64[ns]
activity_category             int64
char_1_x                    float64
char_2_x                    float64
char_3_x                    float64
char_4_x                    float64
char_5_x                    float64
char_6_x                    float64
char_7_x                    float64
char_8_x                    float64
char_9_x                    float64
char_10_x                   float64
outcome                       int64
char_1_y                      int64
group_1                      object
char_2_y                      int64
date_y               datetime64[ns]
char_3_y                      int64
char_4_y                      int64
char_5_y                      int64
char_6_y                      int64
char_7_y                      int64
char_8_y                      int64
char_9_y                      int64
char_10_y                      bool
char_11                        bool
char_12                        bool
char_13                        bool
char_14                        bool
char_15                        bool
char_16                        bool
char_17                        bool
char_18                        bool
char_19                        bool
char_20                        bool
char_21                        bool
char_22                        bool
char_23                        bool
char_24                        bool
char_25                        bool
char_26                        bool
char_27                        bool
char_28                        bool
char_29                        bool
char_30                        bool
char_31                        bool
char_32                        bool
char_33                        bool
char_34                        bool
char_35                        bool
char_36                        bool
char_37                        bool
char_38                       int64
dtype: object

# EDA

In [9]:
for d in ['date_x', 'date_y']:
    print('Start of ' + d + ': ' + str(df_merge[d].min().date()))
    print('  End of ' + d + ': ' + str(df_merge[d].max().date()))
    print('Range of ' + d + ': ' + str(df_merge[d].max() - df_merge[d].min()) + '\n')

Start of date_x: 2022-07-17
  End of date_x: 2023-08-31
Range of date_x: 410 days 00:00:00

Start of date_y: 2022-07-17
  End of date_y: 2023-08-31
Range of date_y: 410 days 00:00:00

In [22]:
df_sample = df_merge.sample(frac = 0.1).copy()